{% extends "stampo.htm" %}
{% block title %}Nega ripetizione - Condivisione{% endblock %}
{% block content %}
    <h1>Nega ripetizione</h1>
    <form action="/impegno_del/{{ iid }}" method="POST">
        <div class="form-group">
            <label for="argomenti">Scrivi all'utente il motivo per il quale non hai potuto erogare la ripetizione</label>
            <textarea class="form-control" id="argomenti" rows="3" name="testo"></textarea>
        </div>
    <button type="submit" class="btn btn-primary">Invia</button>
    </form>
{% endblock %}