{% extends "stampo.htm" %}
{% block title %}Registrazione - Condivisione{% endblock %}
{% block content %}
    <form action="/register" method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="username" class="col-form-label">Email</label>
                <input type="text" class="form-control" id="username" placeholder="Email" name="username">
            </div>
            <div class="form-group col-md-6">
                <label for="password" class="col-form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nome" class="col-form-label">Nome</label>
                <input type="text" class="form-control" id="nome" placeholder="Mario" name="nome">
            </div>
            <div class="form-group col-md-6">
                <label for="cognome" class="col-form-label">Cognome</label>
                <input type="text" class="form-control" id="cognome" placeholder="Rossi" name="cognome">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="usernameTelegram" class="col-form-label">Username di Telegram</label>
                <input type="text" class="form-control" id="usernameTelegram" placeholder="@iltuousername"
                       name="usernameTelegram">
                <small id="emailHelp" class="form-text text-muted">Non hai telegram? Scaricalo per <a
                        href="https://play.google.com/store/apps/details?id=org.telegram.messenger&hl=it">Android</a>,
                    <a href="https://itunes.apple.com/it/app/telegram-messenger/id686449807?mt=8">iOS</a> o usalo dal
                    tuo <a href="https://web.telegram.org/">PC</a>.
                </small>
            </div>
            <div class="form-group col-md-4">
                <label for="mailGenitori" class="col-form-label">Email genitore</label>
                <input type="text" class="form-control" id="mailGenitori" placeholder="genitore@qualcosa.qualcosaltro"
                       name="mailGenitori">
                <small id="emailHelp" class="form-text text-muted">Se l'account non è per un utente comune, re-inserisci la tua mail.
                </small>
            </div>
            <div class="form-group col-md-4">
                <label for="classe" class="col-form-label">Classe</label>
                <input type="text" class="form-control" id="classe" placeholder="5F" name="classe">
            </div>
        </div>
        <div class="alert alert-danger"> Ai sensi dell'articolo 13 del Disegno Legislativo 196/2003 in materia di
            protezione dei dati personali si informa che i dati non verranno analizzati e solamente utilizzati
            all'interno dell'applicativo per erogare il Servizio. Attraverso l'iscrizione alla piattaforma l'utente
            accetta, in maniera implicita, che i suoi dati vengano utilizzati a tale scopo.
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Registrati</button>
            </div>
        </div>
    </form>
{% endblock %}